.app-header {
    display: flex;
    height: 10vh;
    background-color: white;
    justify-content: space-between;

    align-items: center;
    border-bottom: 0.1px solid #dbdbdb;
    border-top: 0.1px solid #dbdbdb;
}

.app-header-logo{
    margin-left: 10px;
}

.app-header-post-button{
    border: none;
    background-color: transparent;

}

