
.login-container{

    border: 1px solid #dbdbdb;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    
}

.login-container-button{
    background-color: #0095f6;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    height: 40px;

}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    width: auto;


}