.new-post-container{
    background-color: white;
    border-radius: 5%;
    padding: 4px;
    margin-left: 13%;
    margin-top: 20%;
    margin-bottom: 20%;
    text-align: center;

}

.new-post-header{
    margin-bottom: 50px;
    border-bottom: 0.1px solid rgb(203, 202, 202);
}

.new-post-img-preview{
    max-width: 250px;
    max-height: 250px;


}