

/* Center the user details */
.user-info {
    display: flex;
    // flex-direction: row;
    margin: 2rem auto;
    // max-width: 600px;
}

.user-info > div:last-child {
    flex-grow: 1;
    max-width: 100%;
}


  /* Style the user image */
.user-info-img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 1.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
  
.user-dash-board{
    display: flex;
    padding: 3vh;
    height: 10vh;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1px solid #dbdbdb;
    border-top: 0.1px solid #dbdbdb;
    text-align: center;
}

#user-dash-board label{
    font-size: 12px;
}

.user-post-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(100% / 3 - 10px), 1fr));
    gap: 10px;
    padding: 10px;

}

.user-grid-item {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
  }

  
  